@model IEnumerable<MusicMix.Models.Song>
@{
    ViewData["Title"] = "Index";
    Layout = "";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="container-fluid" style="margin-top:15px;font-size:18px;">
    @foreach (var item in Model.OrderBy(x => x.Artist))
    {
        <div class="col-md-3" onclick="window.location.href='/vote/confirm?songId=@item.Id'">
            <div style="height:125px;background-color:#a9f8de;padding:10px;margin-bottom:15px;">
                <div>@item.Artist</div>
                <div><b>@item.Title</b></div>
            </div>
        </div>
    }

</div>