@{
    Layout = "";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div style="display:flex;flex:1;height:100%;width:100%;justify-content:center;align-items:center;font-size: 36px;">

    <div>

        Het is mogelijk opnieuw te stemmen over <span id="counter">10</span> seconden

    </div>

</div>

<script>
    var timeleft = 10;
    var downloadTimer = setInterval(function () {
        document.getElementById("counter").innerHTML = --timeleft;
        if (timeleft <= 0) {
            clearInterval(downloadTimer);
            window.location.href = "/vote";
        }
    }, 1000);
</script>




